
/*main title */

.maintitle {
background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg);
font-family: Helvetica;
font-size: 100px;
font-weight: bold;
color: khaki;
text-align: center;
z-index: 1;
}

.price {
font-family: Helvetica;
font-weight: bold;
color: blue;
}

/* ALL HEADING TITLES: BRUSH , FRAMES , PAINT */

.title {
font-family: Helvetica;
font-size: 32px;
font-weight: bold;
color: white;
}

#brushtitle {
background-color: mediumspringgreen;
}

#framestitle {
background-color: lightcoral;
}

#painttitle {
background-color: skyblue;
}
